<header class="page-header">
  <h2>Today's Stats</h2>

  <div class="right-wrapper pull-right">
    <ol class="breadcrumbs">
      <li>
        <a href="index.html">
          <i class="fa fa-home"></i>
        </a>
      </li>
      <li><span>Reports</span></li>
      <li><span>Today's Stats</span></li>
    </ol>

    <span class="sidebar-right-toggle"></span>
  </div>
</header>

<!-- start: page -->
<div class="row">
  <div class="col-md-12">
    <form id="form" action="forms-validation.html" class="form-horizontal">
      <section class="panel">
        <header class="panel-heading">
          <h2 class="panel-title">Today Statistics</h2>
        </header>
        <div class="panel-body">
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-sm-6 ">Total Message:</label>
              <label class="col-sm-6 ">0</label>
              <label class="col-sm-6 ">Total Message Parts:</label>
              <label class="col-sm-6 ">0</label>
              <label class="col-sm-6 ">Total Credit Deducted:</label>
              <label class="col-sm-6 ">0</label>
            </div>
          </div>
        </div>
      </section>
    </form>
  </div>
</div>
<!-- end: page -->